#dhtmltooltip{
    position: absolute;
    left: -300px;
    width: 150px;
    border: 1px solid black;
    padding: 2px;
    font-family: Tahoma, Geneva, Arial;
    font-size: 12.5px;
    background-color: #FFFFE0;
    color: black;
    visibility: hidden;
    z-index: 100;
}

#dhtmlpointer{
    position:absolute;
    left: -300px;
    z-index: 101;
    visibility: hidden;
}
